@model CreateProductDto
@{
    ViewData["Title"] = "创建商品";
}
<div>
    <form method="post" asp-area="Admin" asp-controller="Product" asp-action="Create">
        <label asp-for="Name"></label>
        <input asp-for="Name" />

        <label asp-for="Description"></label>
        <input asp-for="Description" />

        <label asp-for="Value"></label>
        <input asp-for="Value" />

        <input type="submit" value="保存商品" />
    </form>
</div>
