@using Shop.Application.Dtos.Product.Admin
@model IEnumerable<GetProductsDto>
@{
    ViewData["Title"] = "主页";
}

<div>
    @{
        foreach (var item in Model)
        {
            <a href="/product/@item.Name.Replace(" ", "-")">
                @item.Name - ￥@item.Value
            </a>
            <br />
        }
    }
</div>